.about-me-page {
    scroll-behavior: smooth;
}

.section {
    padding: 4rem 10%;
}

.hero-photo {
    border-radius: 4px;
    width: 200px;
    height: 336px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.hero-teaser {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero-scroll {
    background-color: #77C9D4;
    color: #000000;
    text-decoration: none;
    border-radius: 50px;
}



.chapter {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 3rem;
    box-sizing: border-box;
    text-align: center;
    font-size: larger;
}

.contrast-enhancer{
    text-shadow: 1px 1px ghostwhite, -1px 1px ghostwhite, 1px -1px ghostwhite, -1px -1px ghostwhite;
}



.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0;
}

.chapter-image {
    width: 100%;
    max-width: 400px;
    margin: 2rem auto 0;
    display: block;
}

.education-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.timeline-item {
    display: flex;
    gap: 1rem;
    align-items: center;
}
#iframe-cv{

    width: 100%;
    height: 700px;
    border-radius: 8px;
    box-shadow:  3px 3px 3px #000000;
    margin-bottom: 40px;


}
.timeline-year {
    font-weight: bold;
    color: #000000;
}

.contact-section {
    background: #333;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.contact-button {
    background: #57BC90;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.contact-button:hover {
    background: #015249;
}

.cv-section {
    text-align: center;
}

.pdf-viewer iframe {
    border: none;
    margin-top: 40px;

}

.download-button {
    display: inline-block;

    padding: 20px 20px;
    background: #57BC90;
    transition: background 0.3s ease;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;

}

.download-button:hover {
    background: #015249;
}

.chapter-image {
    width: 100%;
    height: auto;
}

.image-gallery {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.small-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.small-image:hover {
    transform: scale(1.1);
}

.year{
    color: #57BC90;
    font-size: 20px;
    font-weight: bold;
}

