
#matrix-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #faf9f6;
    border-radius: 3px;
    margin-bottom: 5px;
}

#matrix-visualizer {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    align-content: center;
    position: relative;
    max-width: 100%;

}

#matrix-visualizer::before,
#matrix-visualizer::after {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    width: 15px;
    border: 2px solid black;
}

#matrix-visualizer::before {
    left: 20px;
    border-right: none;
}

#matrix-visualizer::after {
    right: 20px;
    border-left: none;
}

.matrix-row {
    display: flex;
}

.matrix-cell {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 2px;
    background-color: white;
}
