.modal{

}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    width: 80%; /* Could be more or less, depending on screen size */
}