.modal-content {
    font-family: "Georgia", serif;
    font-size: 16px;
    background-color: #ffffff;
    margin: 2% auto;
    padding: 0;
    height: 100%;
    border-radius: 10px;
    border-color: black;
    width: 50%;
    position: relative;
    overflow: hidden; /* Makes the button not stick out over the window*/
}
#left-module-tab{
    border-top-left-radius: 10px;
}
#right-module-tab{
    border-top-right-radius: 10px;
}
.module-tab {
    flex: 1; /*Each button take an equal portion of the container!!!*/
    display: inline-block;
    margin: 1px;
    border-radius: 3px;
    padding: 10px 0;
    border: 1px solid #b4b4b4;
    background-color: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
    font-family: "Georgia", serif;
    font-weight: bold;
    font-size: 16px;
}

.hidden {
    display: none;
}

.tabs-container {
    display: flex;
    border: 0 solid #f5f5f5;
    border-bottom: 1px solid #ddd; /* Bottom border to mimic tabs */
    width: 100%;
}

.content {
    padding: 5px;
}