body {
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(119,201,212);
    background: linear-gradient(45deg, rgba(119,201,212,1) 20%, rgba(87,188,144,1) 60%, rgba(1,82,73,1) 100%);
    overflow-x: hidden;
}

header {
    padding: 1em;
    text-align: center;
    margin-top: -15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 1em;
}

.nav-link.disabled {
    color: #999;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 1em;
    margin: 0;
}

.side-by-side {
    display: inline-block;
    margin-right: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.about-text{
    background-color: #faf9f6;
    box-shadow: 0 0 1px #d0d0d0;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
}
