body {
    margin: 0;
    padding: 0;
    justify-content: center;
}

header {
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    padding: 1em;
}

.visual-framework{
    background-color: #ffc9b1;
    background-image: url("/styles/images/background_theme_small.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Georgia", serif;
}

.nav-link.disabled {
    color: #999;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.side-by-side{
    display: inline-block;
    margin-right: 10px;

}
