body {
    margin: 0;
    padding: 0;
}

header {
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    padding: 1em;
}

.visual-framework{
    background-image: url("images/background_theme.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Georgia", serif;
}

footer {
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
